@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\61";
}
.icon-clock:before {
  content: "\62";
}
.icon-file-text-o:before {
  content: "\63";
}
.icon-video:before {
  content: "\64";
}
.icon-play-video:before {
  content: "\65";
}
.icon-play:before {
  content: "\66";
}
.icon-star:before {
  content: "\67";
}
.icon-graph-bar:before {
  content: "\68";
}
.icon-plus-circle:before {
  content: "\69";
}
.icon-map-marker:before {
  content: "\6a";
}
.icon-location-arrow:before {
  content: "\6b";
}
.icon-plus:before {
  content: "\6c";
}
.icon-plus-square:before {
  content: "\6d";
}
.icon-user-add:before {
  content: "\6e";
}
.icon-minus-circle:before {
  content: "\6f";
}
.icon-trash:before {
  content: "\70";
}
.icon-trash-o:before {
  content: "\71";
}
.icon-times:before {
  content: "\72";
}
.icon-ban:before {
  content: "\73";
}
.icon-frown-o:before {
  content: "\74";
}
.icon-basket:before {
  content: "\75";
}
.icon-exclamation-circle:before {
  content: "\76";
}
.icon-facebook-square:before {
  content: "\77";
}
.icon-google-plus-square:before {
  content: "\78";
}
.icon-comment:before {
  content: "\79";
}
.icon-thumbs-up:before {
  content: "\7a";
}
.icon-thumbs-down:before {
  content: "\41";
}
.icon-user:before {
  content: "\42";
}
.icon-user-plus:before {
  content: "\43";
}
.icon-twitter-square:before {
  content: "\44";
}
.icon-whatsapp:before {
  content: "\45";
}
.icon-youtube-play:before {
  content: "\46";
}
.icon-youtube-square:before {
  content: "\47";
}
.icon-twitter:before {
  content: "\48";
}
.icon-youtube:before {
  content: "\49";
}
.icon-triangle-right:before {
  content: "\4a";
}
.icon-triangle-down:before {
  content: "\4b";
}
.icon-triangle-up:before {
  content: "\4c";
}
.icon-clipboard:before {
  content: "\4d";
}
.icon-clipboard-notes:before {
  content: "\4e";
}
.icon-search:before {
  content: "\4f";
}
.icon-bars:before {
  content: "\50";
}
.icon-instagram:before {
  content: "\51";
}
.icon-instagrem:before {
  content: "\52";
}
.icon-folder-open:before {
  content: "\53";
}
.icon-folder-open-o:before {
  content: "\54";
}
.icon-heart:before {
  content: "\55";
}
.icon-heart-o:before {
  content: "\56";
}
.icon-paper-plane:before {
  content: "\57";
}
.icon-paper-plane-o:before {
  content: "\58";
}
.icon-paperclip:before {
  content: "\59";
}
.icon-smile-o:before {
  content: "\5a";
}
.icon-user-1:before {
  content: "\30";
}
.icon-users:before {
  content: "\31";
}
.icon-youtube-alt:before {
  content: "\32";
}
.icon-check-circle:before {
  content: "\33";
}
.icon-check-circle-o:before {
  content: "\34";
}
.icon-check-1:before {
  content: "\35";
}
.icon-chevron-down:before {
  content: "\36";
}
.icon-chevron-left:before {
  content: "\37";
}
.icon-chevron-right:before {
  content: "\38";
}
.icon-chevron-up:before {
  content: "\39";
}
.icon-envelope:before {
  content: "\21";
}
.icon-envelope-o:before {
  content: "\22";
}
.icon-star-1:before {
  content: "\23";
}
.icon-sort-asc:before {
  content: "\24";
}
.icon-sort-desc:before {
  content: "\25";
}
.icon-star-o:before {
  content: "\26";
}
.icon-tag:before {
  content: "\27";
}
.icon-tags:before {
  content: "\28";
}
.icon-times-circle:before {
  content: "\29";
}
.icon-mail:before {
  content: "\2a";
}
.icon-lock:before {
  content: "\2b";
}
.icon-pricetag-multiple:before {
  content: "\2c";
}
.icon-price-tag:before {
  content: "\2d";
}
.icon-shopping-cart:before {
  content: "\2e";
}
.icon-social-instagram:before {
  content: "\2f";
}
.icon-social-facebook:before {
  content: "\3a";
}
.icon-list-ol:before {
  content: "\3b";
}
.icon-list-ul:before {
  content: "\3c";
}
.icon-list-ordered:before {
  content: "\3d";
}
.icon-long-arrow-left:before {
  content: "\3e";
}
.icon-arrow-left:before {
  content: "\3f";
}
.icon-angle-left:before {
  content: "\40";
}
.icon-ellipsis-v:before {
  content: "\5b";
}
.icon-ellipsis-h:before {
  content: "\5d";
}
.icon-download:before {
  content: "\5e";
}
.icon-file-image-o:before {
  content: "\5f";
}
.icon-file-o:before {
  content: "\60";
}
.icon-file-pdf-o:before {
  content: "\7b";
}
.icon-file-text:before {
  content: "\7c";
}
.icon-film:before {
  content: "\7d";
}
.icon-home:before {
  content: "\7e";
}
.icon-list:before {
  content: "\5c";
}
.icon-share-alt:before {
  content: "\e000";
}
.icon-thumbs-o-down:before {
  content: "\e001";
}
.icon-thumbs-o-up:before {
  content: "\e002";
}
.icon-list-bullet:before {
  content: "\e003";
}
.icon-list-number:before {
  content: "\e004";
}
.icon-telephone:before {
  content: "\e005";
}
.icon-bell:before {
  content: "\e006";
}
.icon-list-add:before {
  content: "\e007";
}
.icon-share:before {
  content: "\e008";
}
.icon-search-1:before {
  content: "\e009";
}
.icon-calendar:before {
  content: "\e00a";
}
.icon-calendar-1:before {
  content: "\e00b";
}
.icon-calendar-check-o:before {
  content: "\e00c";
}
.icon-calendar-minus-o:before {
  content: "\e00d";
}
.icon-calendar-plus-o:before {
  content: "\e00e";
}
.icon-calendar-times-o:before {
  content: "\e00f";
}
.icon-calendar-o:before {
  content: "\e010";
}
.icon-comment-o:before {
  content: "\e011";
}
.icon-commenting:before {
  content: "\e012";
}
.icon-comments:before {
  content: "\e013";
}
.icon-comments-o:before {
  content: "\e014";
}
.icon-cloud-download:before {
  content: "\e015";
}
.icon-cloud-upload:before {
  content: "\e016";
}
.icon-shopping-cart-1:before {
  content: "\e017";
}
.icon-list-alt:before {
  content: "\e018";
}
.icon-eye:before {
  content: "\e019";
}
.icon-dot-3:before {
  content: "\e01a";
}
.icon-down-open-mini:before {
  content: "\e01b";
}
.icon-down-open-big:before {
  content: "\e01c";
}
.icon-down-open:before {
  content: "\e01d";
}
.icon-down-dir:before {
  content: "\e01e";
}
.icon-down-bold:before {
  content: "\e01f";
}
.icon-down:before {
  content: "\e020";
}
.icon-up-open-mini:before {
  content: "\e021";
}
.icon-up-open:before {
  content: "\e022";
}
.icon-up-open-big:before {
  content: "\e023";
}
.icon-up-dir:before {
  content: "\e024";
}
.icon-whatsapp-1:before {
  content: "\e025";
}
.icon-usd:before {
  content: "\e026";
}
.icon-truck:before {
  content: "\e027";
}
.icon-pencil:before {
  content: "\e028";
}
.icon-pencil-1:before {
  content: "\e029";
}
.icon-pencil-2:before {
  content: "\e02a";
}
.icon-settings-streamline-1:before {
  content: "\e02b";
}
.icon-cog:before {
  content: "\e02c";
}
.icon-tools:before {
  content: "\e02d";
}
.icon-tools-1:before {
  content: "\e02e";
}
.icon-clock-o:before {
  content: "\e02f";
}
.icon-graduation-cap:before {
  content: "\e030";
}
.icon-book:before {
  content: "\e031";
}
.icon-attach:before {
  content: "\e032";
}
.icon-heart-1:before {
  content: "\e033";
}
.icon-graduation-cap-1:before {
  content: "\e034";
}
.icon-bubble-3:before {
  content: "\e035";
}
.icon-bubble:before {
  content: "\e036";
}
.icon-book-close:before {
  content: "\e037";
}
.icon-tag-1:before {
  content: "\e038";
}
.icon-syringe:before {
  content: "\e039";
}
.icon-share-outline:before {
  content: "\e03a";
}
.icon-pill:before {
  content: "\e03b";
}
.icon-pin:before {
  content: "\e03c";
}
.icon-power:before {
  content: "\e03d";
}
.icon-zoom-out:before {
  content: "\e03e";
}
.icon-zoom-in:before {
  content: "\e03f";
}
.icon-zoom:before {
  content: "\e040";
}
.icon-volume-down:before {
  content: "\e041";
}
.icon-volume-up:before {
  content: "\e042";
}
.icon-volume:before {
  content: "\e043";
}
.icon-clipboard-1:before {
  content: "\e044";
}
.icon-unlock-alt:before {
  content: "\e045";
}
.icon-unlock:before {
  content: "\e046";
}
.icon-credit-card:before {
  content: "\e047";
}
.icon-paw:before {
  content: "\e048";
}
.icon-paperclip-1:before {
  content: "\e049";
}
.icon-clip:before {
  content: "\e04a";
}
.icon-email-plane:before {
  content: "\e04b";
}
.icon-paperplane:before {
  content: "\e04c";
}
.icon-settings:before {
  content: "\e04d";
}
.icon-stop:before {
  content: "\e04e";
}
.icon-pause:before {
  content: "\e04f";
}
.icon-fast-forward:before {
  content: "\e050";
}
.icon-fast-backward:before {
  content: "\e051";
}
.icon-stop-1:before {
  content: "\e052";
}
.icon-to-end:before {
  content: "\e053";
}
.icon-to-start:before {
  content: "\e054";
}
.icon-play-1:before {
  content: "\e055";
}
.icon-shuffle:before {
  content: "\e056";
}
.icon-settings-streamline:before {
  content: "\e057";
}
.icon-circle:before {
  content: "\e058";
}
.icon-circle-o:before {
  content: "\e059";
}
.icon-check-square:before {
  content: "\e05a";
}
.icon-male:before {
  content: "\e05b";
}
.icon-music:before {
  content: "\e05c";
}
.icon-microphone:before {
  content: "\e05d";
}
.icon-microphone-slash:before {
  content: "\e05e";
}
.icon-plane:before {
  content: "\e05f";
}
.icon-street-view:before {
  content: "\e060";
}
.icon-toggle-on:before {
  content: "\e061";
}
.icon-toggle-off:before {
  content: "\e062";
}
.icon-upload:before {
  content: "\e063";
}
.icon-trophy:before {
  content: "\e064";
}
.icon-cc-amex:before {
  content: "\e065";
}
.icon-cc-diners-club:before {
  content: "\e066";
}
.icon-cc-discover:before {
  content: "\e067";
}
.icon-cc-jcb:before {
  content: "\e068";
}
.icon-cc-mastercard:before {
  content: "\e069";
}
.icon-cc-paypal:before {
  content: "\e06a";
}
.icon-cc-stripe:before {
  content: "\e06b";
}
.icon-cc-visa:before {
  content: "\e06c";
}
.icon-cc:before {
  content: "\e06d";
}
.icon-book-1:before {
  content: "\e06e";
}
.icon-camera-retro:before {
  content: "\e06f";
}
.icon-camera:before {
  content: "\e070";
}
.icon-users-1:before {
  content: "\e071";
}
.icon-volume-down-1:before {
  content: "\e072";
}
.icon-volume-off:before {
  content: "\e073";
}
.icon-volume-up-1:before {
  content: "\e074";
}
.icon-alert:before {
  content: "\e075";
}
.icon-comment-1:before {
  content: "\e076";
}
.icon-comment-discussion:before {
  content: "\e077";
}
.icon-credit-card-1:before {
  content: "\e078";
}
.icon-primitive-dot:before {
  content: "\e079";
}
.icon-primitive-square:before {
  content: "\e07a";
}
.icon-playback-pause:before {
  content: "\e07b";
}
.icon-playback-play:before {
  content: "\e07c";
}
.icon-playback-rewind:before {
  content: "\e07d";
}
.icon-playback-fast-forward:before {
  content: "\e07e";
}
.icon-plus-1:before {
  content: "\e07f";
}
.icon-three-bars:before {
  content: "\e080";
}
.icon-trashcan:before {
  content: "\e081";
}
.icon-unmute:before {
  content: "\e082";
}
.icon-mute:before {
  content: "\e083";
}
.icon-folder:before {
  content: "\e084";
}
.icon-heart-2:before {
  content: "\e085";
}
.icon-music-1:before {
  content: "\e086";
}
.icon-torsos-all:before {
  content: "\e087";
}
.icon-torsos:before {
  content: "\e088";
}
.icon-torso:before {
  content: "\e089";
}
.icon-torso-female:before {
  content: "\e08a";
}
.icon-torsos-all-female:before {
  content: "\e08b";
}
.icon-torsos-female-male:before {
  content: "\e08c";
}
.icon-torsos-male-female:before {
  content: "\e08d";
}
.icon-doc-text:before {
  content: "\e08e";
}
.icon-doc-text-inv:before {
  content: "\e08f";
}
.icon-heart-empty:before {
  content: "\e090";
}
.icon-lamp:before {
  content: "\e091";
}
.icon-eye-1:before {
  content: "\e092";
}
.icon-note:before {
  content: "\e093";
}
.icon-note-beamed:before {
  content: "\e094";
}
.icon-light-up:before {
  content: "\e095";
}
.icon-thumbs-up-1:before {
  content: "\e096";
}
.icon-thumbs-down-1:before {
  content: "\e097";
}
.icon-amazon:before {
  content: "\e098";
}
.icon-barcode:before {
  content: "\e099";
}
.icon-bar-chart:before {
  content: "\e09a";
}
.icon-at:before {
  content: "\e09b";
}
.icon-dot-circle-o:before {
  content: "\e09c";
}
.icon-mention:before {
  content: "\e09d";
}
.icon-dollar:before {
  content: "\e09e";
}
.icon-dollar-bill:before {
  content: "\e09f";
}
.icon-info-circled:before {
  content: "\e0a0";
}
.icon-info:before {
  content: "\e0a1";
}
.icon-creative-commons:before {
  content: "\e0a2";
}
.icon-certificate:before {
  content: "\e0a3";
}
.icon-facebook-official:before {
  content: "\e0a4";
}
.icon-facebook:before {
  content: "\e0a5";
}
