*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    position: relative;
    width: 100%;
    height: 600px;
    font-family: 'Roboto', sans-serif;
}

/* CALENDÃRIO */
.calendario-shows{
    position: relative;
    width: 100%;
    height: 250px;
    background: #333;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
    color: #fff;
}
.calendario{
    position: absolute;
    top: -30px;
    left: 30px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: #444;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #000;
    
}

.cols{
    width: 33.3%;
    height: 70%;
    padding:10px;
}

.cols ul li:hover{
    color: #c9c9c9;
    cursor: pointer;
    text-decoration: underline;
}

.separator{
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

.footer-calendario{
    flex-basis: 100%;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    background: #444;
    margin-bottom: 0px;
}

.footer-calendario:hover{
    background: #555;
    cursor: pointer;
}




/* LIVES */


.lives{
    width: 100%;
    padding: 10px;
    background: #ededed;
}

.lives header{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}


.bx_cont{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card-lives{
    width: calc(33.3% - 20px);
    margin: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card-lives header h2{
    font-size: 1.2em;
}

.card-lives footer{
    background: #fff;
}

/* EVENTOS */

.events{
    width:100%;
    padding: 10px;
    background: #fff;
}

.events header{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}


/* FOOTER */

footer{
    width: 100%;
    padding: 10px;
    
}

footer h3{
    font-size: 1.2em;
    font-weight: normal;
}


.b1{
    width: calc(100% - 20px);
    height: 400px;
    margin: 10px;
}

.b2{
    width: calc(50% - 20px);
    height: 400px;
    margin: 10px;
}

.b3{
    width: calc(33.3% - 20px);
    height: 400px;
    margin: 10px;
}

.b4{
    width: calc(25% - 20px);
    height: 300px;
    margin: 10px;
}

.card{
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: #444;
}

.footer-site{
    width: 100%;
    height: 300px;
    background: #444;
}


.bx-mp3{
    width: 100%;
    padding: 10px;
    font-size: 0.7em;
    color: #fff;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.bx-mp3 header{
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    margin: 5px;
    padding: 0px 130px;
}

.bx-mp3 a{
    padding: 8px 20px;
    border-radius: 10px;
    background: #00e31a;
    font-size: 1.6em;
    color: #00660a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 130px;
}


.bx-img{
    position: absolute;
    width: 40%;
    overflow: hidden;
    right: 50px;
    bottom: -5px;
}

.bx-img img{
    width: 100%;
}


/* playlist */

.bx-playlist{
    width: 100%;
    height: 40px;
}

.bx-playlist > header{
    width: 100%;
    height: 100%;
    padding: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.bx-playlist h2{
    color: #fff;
    font-size: 1em;
}

.btn-playlist{
    padding: 8px 20px;
    background: #fff;
    color: #222;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    z-index: 100;
}

.btn-playlist:hover{
    background: #ededed;
    cursor: pointer;
}
