@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  top: .125em;
  margin-right: .4em;
}

.icon-notext{
  top: 0;
  margin-right: 0;
}

.icon-check:before {
  content: "\61";
}
.icon-clock:before {
  content: "\62";
}
.icon-file-text-o:before {
  content: "\63";
}
.icon-video:before {
  content: "\64";
}
.icon-play-video:before {
  content: "\65";
}
.icon-play:before {
  content: "\66";
}
.icon-star:before {
  content: "\67";
}
.icon-graph-bar:before {
  content: "\68";
}
.icon-plus-circle:before {
  content: "\69";
}
.icon-map-marker:before {
  content: "\6a";
}
.icon-location-arrow:before {
  content: "\6b";
}
.icon-plus:before {
  content: "\6c";
}
.icon-plus-square:before {
  content: "\6d";
}
.icon-user-add:before {
  content: "\6e";
}
.icon-minus-circle:before {
  content: "\6f";
}
.icon-trash:before {
  content: "\70";
}
.icon-trash-o:before {
  content: "\71";
}
.icon-times:before {
  content: "\72";
}
.icon-ban:before {
  content: "\73";
}
.icon-frown-o:before {
  content: "\74";
}
.icon-basket:before {
  content: "\75";
}
.icon-exclamation-circle:before {
  content: "\76";
}
.icon-facebook-square:before {
  content: "\77";
}
.icon-google-plus-square:before {
  content: "\78";
}
.icon-comment:before {
  content: "\79";
}
.icon-thumbs-up:before {
  content: "\7a";
}
.icon-thumbs-down:before {
  content: "\41";
}
.icon-user:before {
  content: "\42";
}
.icon-user-plus:before {
  content: "\43";
}
.icon-twitter-square:before {
  content: "\44";
}
.icon-whatsapp:before {
  content: "\45";
}
.icon-youtube-play:before {
  content: "\46";
}
.icon-youtube-square:before {
  content: "\47";
}
.icon-twitter:before {
  content: "\48";
}
.icon-youtube:before {
  content: "\49";
}
.icon-triangle-right:before {
  content: "\4a";
}
.icon-triangle-down:before {
  content: "\4b";
}
.icon-triangle-up:before {
  content: "\4c";
}
.icon-clipboard:before {
  content: "\4d";
}
.icon-clipboard-notes:before {
  content: "\4e";
}
.icon-search:before {
  content: "\4f";
}
.icon-bars:before {
  content: "\50";
}
.icon-instagram:before {
  content: "\51";
}
.icon-instagrem:before {
  content: "\52";
}
.icon-folder-open:before {
  content: "\53";
}
.icon-folder-open-o:before {
  content: "\54";
}
.icon-heart:before {
  content: "\55";
}
.icon-heart-o:before {
  content: "\56";
}
.icon-paper-plane:before {
  content: "\57";
}
.icon-paper-plane-o:before {
  content: "\58";
}
.icon-paperclip:before {
  content: "\59";
}
.icon-smile-o:before {
  content: "\5a";
}
.icon-user-1:before {
  content: "\30";
}
.icon-users:before {
  content: "\31";
}
.icon-youtube-alt:before {
  content: "\32";
}
.icon-check-circle:before {
  content: "\33";
}
.icon-check-circle-o:before {
  content: "\34";
}
.icon-check-1:before {
  content: "\35";
}
.icon-chevron-down:before {
  content: "\36";
}
.icon-chevron-left:before {
  content: "\37";
}
.icon-chevron-right:before {
  content: "\38";
}
.icon-chevron-up:before {
  content: "\39";
}
.icon-envelope:before {
  content: "\21";
}
.icon-envelope-o:before {
  content: "\22";
}
.icon-star-1:before {
  content: "\23";
}
.icon-sort-asc:before {
  content: "\24";
}
.icon-sort-desc:before {
  content: "\25";
}
.icon-star-o:before {
  content: "\26";
}
.icon-tag:before {
  content: "\27";
}
.icon-tags:before {
  content: "\28";
}
.icon-times-circle:before {
  content: "\29";
}
.icon-mail:before {
  content: "\2a";
}
.icon-lock:before {
  content: "\2b";
}
.icon-pricetag-multiple:before {
  content: "\2c";
}
.icon-price-tag:before {
  content: "\2d";
}
.icon-shopping-cart:before {
  content: "\2e";
}
.icon-social-instagram:before {
  content: "\2f";
}
.icon-social-facebook:before {
  content: "\3a";
}
.icon-list-ol:before {
  content: "\3b";
}
.icon-list-ul:before {
  content: "\3c";
}
.icon-list-ordered:before {
  content: "\3d";
}
.icon-long-arrow-left:before {
  content: "\3e";
}
.icon-arrow-left:before {
  content: "\3f";
}
.icon-angle-left:before {
  content: "\40";
}
.icon-ellipsis-v:before {
  content: "\5b";
}
.icon-ellipsis-h:before {
  content: "\5d";
}
.icon-download:before {
  content: "\5e";
}
.icon-file-image-o:before {
  content: "\5f";
}
.icon-file-o:before {
  content: "\60";
}
.icon-file-pdf-o:before {
  content: "\7b";
}
.icon-file-text:before {
  content: "\7c";
}
.icon-film:before {
  content: "\7d";
}
.icon-home:before {
  content: "\7e";
}
.icon-list:before {
  content: "\5c";
}
.icon-share-alt:before {
  content: "\e000";
}
.icon-thumbs-o-down:before {
  content: "\e001";
}
.icon-thumbs-o-up:before {
  content: "\e002";
}
.icon-list-bullet:before {
  content: "\e003";
}
.icon-list-number:before {
  content: "\e004";
}
.icon-telephone:before {
  content: "\e005";
}
.icon-bell:before {
  content: "\e006";
}
.icon-list-add:before {
  content: "\e007";
}
.icon-share:before {
  content: "\e008";
}
.icon-search-1:before {
  content: "\e009";
}
.icon-calendar:before {
  content: "\e00a";
}
.icon-calendar-1:before {
  content: "\e00b";
}
.icon-calendar-check-o:before {
  content: "\e00c";
}
.icon-calendar-minus-o:before {
  content: "\e00d";
}
.icon-calendar-plus-o:before {
  content: "\e00e";
}
.icon-calendar-times-o:before {
  content: "\e00f";
}
.icon-calendar-o:before {
  content: "\e010";
}
